In [35]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [36]:
df = pd.read_csv ("fifa_eda.csv")

In [37]:
df.head()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,5.0,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.0
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,Right,5.0,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.0
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260.0,Right,4.0,1.0,GK,2011,2020-01-01,6.333333,168.0,138600.0
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,4.0,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.0

# Identificar las variables:
+ Name : Nombre
+ Age : Edad
+ Nationality: Nacionalidad
+ Overall: Total/global goles
+ Potential: Potencial
+ Club: Equipo de fútbol
+ Value: Puntaje entre otros jugadores
+ Wage: Salario
+ Preferred Foot: Zurdos / Diestros
+ International Reputation: Reputación Internacional
+ Skill Moves: Habilidad de movimiento
+ Position: Posición
+ Joined: Entrada al equipo.
+ Contrac Valid Untill: Validez del contrato.
+ Height: Altura
+ Weight: Peso
+ Release Clause: Clausula de liberación.

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        18207 non-null  int64
 1   Name                      18207 non-null  object
 2   Age                       18207 non-null  int64
 3   Nationality               18207 non-null  object
 4   Overall                   18207 non-null  int64
 5   Potential                 18207 non-null  int64
 6   Club                      17966 non-null  object
 7   Value                     17955 non-null  float64
 8   Wage                      18207 non-null  float64
 9   Preferred Foot            18207 non-null  object
 10  International Reputation  18159 non-null  float64
 11  Skill Moves               18159 non-null  float64
 12  Position                  18207 non-null  object
 13  Joined                    18207 non-null  int64
 14  Contract Valid Until      17918 non-null  object
 15  Height                    18207 non-null  float64
 16  Weight                    18207 non-null  float64
 17  Release Clause            18207 non-null  float64
dtypes: float64(7), int64(5), object(6)
memory usage: 2.5+ MB

In [39]:
df.shape

(18207, 18)

Tenemos 18 columnas y 18207 entradas.

In [40]:
# Pedimos información del nombre de las columnas:
df.columns.values

array(['ID', 'Name', 'Age', 'Nationality', 'Overall', 'Potential', 'Club',
       'Value', 'Wage', 'Preferred Foot', 'International Reputation',
       'Skill Moves', 'Position', 'Joined', 'Contract Valid Until',
       'Height', 'Weight', 'Release Clause'], dtype=object)

In [41]:
df.isnull().sum(axis = 0)

ID                            0
Name                          0
Age                           0
Nationality                   0
Overall                       0
Potential                     0
Club                        241
Value                       252
Wage                          0
Preferred Foot                0
International Reputation     48
Skill Moves                  48
Position                      0
Joined                        0
Contract Valid Until        289
Height                        0
Weight                        0
Release Clause                0
dtype: int64

Se han perdido datos pero en proporción no lo vemos tan significativo debido al gran volumen de entradas.

In [42]:
df.describe()

,ID,Age,Overall,Potential,Value,Wage,International Reputation,Skill Moves,Joined,Height,Weight,Release Clause
count,18207.000000,18207.000000,18207.000000,18207.000000,17955.000000,18207.000000,18159.000000,18159.000000,18207.000000,18207.000000,18207.000000,18207.000000
mean,214298.338606,25.122206,66.238699,71.307299,2444.530214,9.731312,1.113222,2.361308,2016.420607,5.946771,165.979129,4585.060971
std,29965.244204,4.669943,6.908930,6.136496,5626.715434,21.999290,0.394031,0.756164,2.018194,0.220514,15.572775,10630.414430
min,16.000000,16.000000,46.000000,48.000000,10.000000,0.000000,1.000000,1.000000,1991.000000,5.083333,110.000000,13.000000
25%,200315.500000,21.000000,62.000000,67.000000,325.000000,1.000000,1.000000,2.000000,2016.000000,5.750000,154.000000,570.000000
50%,221759.000000,25.000000,66.000000,71.000000,700.000000,3.000000,1.000000,2.000000,2017.000000,5.916667,165.000000,1300.000000
75%,236529.500000,28.000000,71.000000,75.000000,2100.000000,9.000000,1.000000,3.000000,2018.000000,6.083333,176.000000,4585.060806
max,246620.000000,45.000000,94.000000,95.000000,118500.000000,565.000000,5.000000,5.000000,2018.000000,6.750000,243.000000,228100.000000

In [43]:
# Identificación de variables:
categoricas = ["Name" , "Nationality", "Club", "Preferred Foot", "Position", "Contract Valid Until"]
numericas = ["ID" , "Age", "Overall", "Potential", "Joined", "Value", "Wage", "Internation Reputation", "Skill Moves", "Weight", "Height", "Release Clause" ]

In [44]:
for col in categoricas:
    print(f"Column name: {col}")
    print(df[col].value_counts())
    print()

Column name: Name
J. Rodríguez    11
Paulinho         8
R. Williams      7
J. Williams      7
J. Gómez         6
                ..
I. Anya          1
P. Hoban         1
Hugo Basto       1
Kanu             1
G. Nugent        1
Name: Name, Length: 17194, dtype: int64

Column name: Nationality
England                 1662
Germany                 1198
Spain                   1072
Argentina                937
France                   914
                        ...
New Caledonia              1
Fiji                       1
São Tomé & Príncipe        1
United Arab Emirates       1
Botswana                   1
Name: Nationality, Length: 164, dtype: int64

Column name: Club
FC Barcelona                 33
Valencia CF                  33
Fortuna Düsseldorf           33
Cardiff City                 33
Rayo Vallecano               33
                             ..
América FC (Minas Gerais)    20
Fluminense                   20
Sligo Rovers                 19
Limerick FC                  19
Derry City                   18
Name: Club, Length: 651, dtype: int64

Column name: Preferred Foot
Right    13996
Left      4211
Name: Preferred Foot, dtype: int64

Column name: Position
ST     2154
GK     2027
CB     1779
CM     1395
LB     1372
RB     1291
RM     1127
LM     1095
CAM     959
CDM     948
RCB     662
LCB     648
LCM     395
RCM     391
LW      381
RW      370
RDM     248
LDM     243
LS      207
RS      203
RWB      87
LWB      78
CF       74
LAM      21
RAM      21
RF       16
LF       15
Name: Position, dtype: int64

Column name: Contract Valid Until
2019-01-01    4870
2021-01-01    4360
2020-01-01    4027
2022-01-01    1477
2023-01-01    1053
2019-06-30     931
2018-01-01     886
2018-12-31     144
2019-05-31      60
2024-01-01      23
2020-06-30      14
2019-01-31      13
2025-01-01       7
2019-01-05       6
2019-01-02       6
2019-10-14       5
2019-01-12       5
2019-01-06       4
2019-12-31       3
2019-01-07       3
2019-01-25       3
2026-01-01       2
2019-12-01       2
2020-05-31       2
2018-11-30       2
2019-01-15       1
2020-02-27       1
2019-01-30       1
2019-01-11       1
2019-05-04       1
2019-01-18       1
2019-01-03       1
2019-01-04       1
2019-06-01       1
2019-01-20       1
Name: Contract Valid Until, dtype: int64

In [45]:
# Buscamos si hay duplicados
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
18202    False
18203    False
18204    False
18205    False
18206    False
Length: 18207, dtype: bool

Hemos buscado si hay duplicados pero no hay.

In [46]:
# Vemos el jugador más joven. Con loc podemos seleccionar variables.
df.loc[df['Age'] == df['Age'].min()]

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
11457,241266,W. Geubbels,16,France,64,86,AS Monaco,1000.0,5.0,Right,1.0,3.0,ST,2018,2023-01-01,6.083333,159.0,2900.000000
11732,244403,A. Taoui,16,France,64,75,Toulouse Football Club,700.0,3.0,Left,1.0,3.0,ST,2018,2021-01-01,5.833333,152.0,1500.000000
12496,245616,Pelayo Morilla,16,Spain,63,81,Real Sporting de Gijón,725.0,1.0,Left,1.0,3.0,RM,2018,2022-01-01,6.000000,154.0,1600.000000
12828,246465,Guerrero,16,Spain,63,76,CF Rayo Majadahonda,625.0,1.0,Left,1.0,3.0,CM,2018,2019-01-01,5.916667,165.0,1400.000000
13293,246594,H. Massengo,16,France,62,75,AS Monaco,450.0,2.0,Right,1.0,2.0,CDM,2018,2021-01-01,5.833333,146.0,1100.000000
13567,246419,Y. Verschaeren,16,Belgium,62,83,RSC Anderlecht,650.0,1.0,Right,1.0,3.0,CAM,2017,2021-01-01,5.666667,139.0,1600.000000
15363,245015,Y. Roemer,16,Netherlands,59,75,VVV-Venlo,300.0,1.0,Right,1.0,3.0,ST,2018,2019-01-01,5.916667,154.0,623.000000
15746,243169,Y. Begraoui,16,France,59,81,AJ Auxerre,350.0,1.0,Right,1.0,2.0,ST,2018,2019-01-01,5.750000,137.0,980.000000
15793,241650,J. Lahne,16,Sweden,59,77,IF Brommapojkarna,300.0,1.0,Right,1.0,2.0,ST,2017,2020-01-01,5.583333,150.0,563.000000
16081,241552,J. Italiano,16,Australia,58,79,Perth Glory,280.0,1.0,Right,1.0,3.0,LM,2017,2019-01-01,5.583333,143.0,630.000000
16254,244728,S. Steijn,16,Netherlands,58,72,VVV-Venlo,250.0,1.0,Right,1.0,3.0,CAM,2016,2019-06-30,5.666667,134.0,4585.060806
16418,242531,J. Kitolano,16,Norway,57,75,Odds BK,200.0,1.0,Right,1.0,2.0,LCM,2017,2021-01-01,5.583333,154.0,375.000000
16544,240562,D. Adshead,16,England,57,77,Rochdale,200.0,1.0,Right,1.0,2.0,CM,2017,2019-01-01,6.083333,143.0,688.000000
16927,243646,B. Nygren,16,Sweden,56,73,IFK Göteborg,180.0,1.0,Left,1.0,2.0,ST,2018,2020-01-01,6.000000,161.0,338.000000
17091,243269,A. Doğan,16,Turkey,55,71,Kayserispor,160.0,1.0,Right,1.0,2.0,CB,2017,2020-01-01,5.916667,154.0,420.000000
17115,245341,C. Bassett,16,United States,55,77,Colorado Rapids,180.0,1.0,Right,1.0,2.0,CDM,2018,2019-01-01,5.916667,148.0,441.000000
17175,243353,B. Mumba,16,England,55,80,Sunderland,190.0,1.0,Right,1.0,2.0,CM,2017,2021-01-01,5.500000,126.0,523.000000
17177,242074,R. Gómez,16,Argentina,55,76,Belgrano de Córdoba,190.0,1.0,Right,1.0,2.0,RM,2018,2020-01-01,5.583333,143.0,466.000000
17200,245171,H. Andersson,16,Sweden,55,70,Örebro SK,160.0,1.0,Right,1.0,2.0,CB,2018,2020-01-01,6.250000,150.0,300.000000
17263,245485,P. Samiec-Talar,16,Poland,55,73,Śląsk Wrocław,180.0,1.0,Right,1.0,2.0,ST,2018,2021-01-01,5.916667,154.0,356.000000
17354,242240,L. D'Arrigo,16,Australia,54,71,Adelaide United,130.0,1.0,Right,1.0,2.0,CAM,2018,2019-01-01,5.750000,154.0,244.000000
17712,245470,K. Broda,16,Poland,53,74,Wisła Kraków,110.0,1.0,Right,1.0,1.0,GK,2017,2021-01-01,6.250000,187.0,259.000000
17743,244752,J. Olstad,16,Norway,52,69,Sarpsborg 08 FF,100.0,1.0,Right,1.0,2.0,ST,2017,2019-01-01,5.666667,150.0,188.000000
17751,245537,E. Ceide,16,Norway,52,75,Rosenborg BK,110.0,1.0,Right,1.0,2.0,RW,2018,2021-01-01,5.750000,154.0,253.000000
17753,245539,B. Waine,16,New Zealand,52,66,Wellington Phoenix,100.0,1.0,Right,1.0,2.0,ST,2018,2019-01-01,5.750000,165.0,188.000000
17757,246315,L. Smyth,16,Northern Ireland,52,73,Stevenage,110.0,1.0,Right,1.0,2.0,ST,2018,2021-01-01,5.833333,159.0,303.000000
17776,244553,M. Köstenbauer,16,Austria,52,74,FC Admira Wacker Mödling,90.0,1.0,Right,1.0,1.0,GK,2018,2021-01-01,6.083333,154.0,221.000000
17808,245123,A. Mahlonoko,16,South Africa,52,71,Orlando Pirates,100.0,1.0,Right,1.0,2.0,CAM,2018,2020-01-01,5.666667,130.0,278.000000
17841,244925,F. Tauchhammer,16,Austria,52,71,Wolfsberger AC,90.0,1.0,Right,1.0,2.0,RB,2018,2021-01-01,6.000000,141.0,187.000000
17881,242165,R. Hauge,16,Norway,52,67,FK Bodø/Glimt,100.0,1.0,Right,1.0,2.0,CM,2017,2020-01-01,5.750000,154.0,188.000000
17887,246009,M. Tilio,16,Australia,52,69,Sydney FC,100.0,1.0,Left,1.0,2.0,CAM,2018,2019-01-01,5.583333,148.0,188.000000
17921,246601,J. Rowland,16,England,51,66,Shrewsbury,70.0,1.0,Right,1.0,2.0,CAM,2016,2020-01-01,5.416667,143.0,166.000000
17976,243891,M. Larsen,16,Denmark,51,71,Esbjerg fB,70.0,1.0,Right,1.0,2.0,CM,2018,2019-01-01,5.916667,152.0,158.000000
18003,239594,J. Imbrechts,16,Sweden,51,72,Sporting de Charleroi,70.0,1.0,Right,1.0,1.0,GK,2017,2019-01-01,5.916667,150.0,175.000000
18018,243722,B. O'Gorman,16,Republic of Ireland,50,69,Bray Wanderers,60.0,1.0,Right,1.0,2.0,RM,2018,2018-01-01,5.750000,161.0,131.000000
18044,246109,K. Lara,16,Colombia,50,74,Atlético Huila,60.0,1.0,Right,1.0,2.0,RB,2018,2021-01-01,5.583333,143.0,141.000000
18106,243685,J. Cleary,16,Republic of Ireland,50,72,Bohemian FC,50.0,1.0,Right,1.0,1.0,GK,2018,2018-01-01,5.833333,159.0,128.000000
18124,245808,G. Hollywood,16,Republic of Ireland,49,67,Bray Wanderers,60.0,1.0,Right,1.0,2.0,CM,2017,2018-01-01,5.833333,146.0,131.000000
18162,243866,T. Gundelund,16,Denmark,48,66,Vejle Boldklub,50.0,1.0,Right,1.0,2.0,RWB,2018,2020-01-01,5.916667,154.0,94.000000
18166,243621,N. Ayéva,16,Sweden,48,72,Örebro SK,70.0,1.0,Right,1.0,2.0,ST,2018,2020-01-01,5.833333,154.0,158.000000
18204,241638,B. Worman,16,England,47,67,Cambridge United,60.0,1.0,Right,1.0,2.0,ST,2017,2021-01-01,5.666667,148.0,165.000000
18206,246269,G. Nugent,16,England,46,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,CM,2018,2019-01-01,5.833333,176.0,165.000000

In [47]:
# Jugadores más joven, con mejor puntuación y nacionalidad.
df.loc[df['Age'] == df ['Age'].min()][['Name', 'Age', 'Overall', 'Nationality']]

                  Name  Age  Overall          Nationality
11457      W. Geubbels   16       64               France
11732         A. Taoui   16       64               France
12496   Pelayo Morilla   16       63                Spain
12828         Guerrero   16       63                Spain
13293      H. Massengo   16       62               France
13567   Y. Verschaeren   16       62              Belgium
15363        Y. Roemer   16       59          Netherlands
15746      Y. Begraoui   16       59               France
15793         J. Lahne   16       59               Sweden
16081      J. Italiano   16       58            Australia
16254        S. Steijn   16       58          Netherlands
16418      J. Kitolano   16       57               Norway
16544       D. Adshead   16       57              England
16927        B. Nygren   16       56               Sweden
17091         A. Doğan   16       55               Turkey
17115       C. Bassett   16       55        United States
17175         B. Mumba   16       55              England
17177         R. Gómez   16       55            Argentina
17200     H. Andersson   16       55               Sweden
17263  P. Samiec-Talar   16       55               Poland
17354      L. D'Arrigo   16       54            Australia
17712         K. Broda   16       53               Poland
17743        J. Olstad   16       52               Norway
17751         E. Ceide   16       52               Norway
17753         B. Waine   16       52          New Zealand
17757         L. Smyth   16       52     Northern Ireland
17776   M. Köstenbauer   16       52              Austria
17808     A. Mahlonoko   16       52         South Africa
17841   F. Tauchhammer   16       52              Austria
17881         R. Hauge   16       52               Norway
17887         M. Tilio   16       52            Australia
17921       J. Rowland   16       51              England
17976        M. Larsen   16       51              Denmark
18003     J. Imbrechts   16       51               Sweden
18018      B. O'Gorman   16       50  Republic of Ireland
18044          K. Lara   16       50             Colombia
18106        J. Cleary   16       50  Republic of Ireland
18124     G. Hollywood   16       49  Republic of Ireland
18162     T. Gundelund   16       48              Denmark
18166         N. Ayéva   16       48               Sweden
18204        B. Worman   16       47              England
18206        G. Nugent   16       46              England

In [51]:
# Vemos el jugador con mas puntuación 
Puntuacion=df.loc[df['Overall'] == df ['Overall'].max()][['Name', 'Age', 'Overall', 'Nationality']]
Puntuacion

                Name  Age  Overall Nationality
0           L. Messi   31       94   Argentina
1  Cristiano Ronaldo   33       94    Portugal

In [78]:
# El jugador mas mayor tiene 45 años
edad = df.loc[df['Age'] == df ['Age'].max()]
edad

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
4741,140029,O. Pérez,45,Mexico,71,71,Pachuca,160.0,8.0,Right,2.0,1.0,GK,1991,2021-01-01,5.666667,165.0,272.0

In [58]:
# Miro los que se les ha caducado el contrato
df[df["Contract Valid Until"] < '2021-01-01']

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260.0,Right,4.0,1.0,GK,2011,2020-01-01,6.333333,168.0,138600.0
5,183277,E. Hazard,27,Belgium,91,91,Chelsea,93000.0,340.0,Right,4.0,4.0,LF,2012,2020-01-01,5.666667,163.0,172100.0
6,177003,L. Modrić,32,Croatia,91,91,Real Madrid,67000.0,420.0,Right,4.0,4.0,RCM,2012,2020-01-01,5.666667,146.0,137400.0
8,155862,Sergio Ramos,32,Spain,91,91,Real Madrid,51000.0,380.0,Right,4.0,3.0,RCB,2005,2020-01-01,6.000000,181.0,104600.0
12,182493,D. Godín,32,Uruguay,90,90,Atlético Madrid,44000.0,125.0,Right,3.0,2.0,CB,2010,2019-01-01,6.166667,172.0,90200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18201,243413,D. Walsh,18,Republic of Ireland,47,68,Waterford FC,60.0,1.0,Left,1.0,2.0,RB,2018,2018-01-01,6.083333,168.0,153.0
18202,238813,J. Lundstram,19,England,47,65,Crewe Alexandra,60.0,1.0,Right,1.0,2.0,CM,2017,2019-01-01,5.750000,134.0,143.0
18203,243165,N. Christoffersson,19,Sweden,47,63,Trelleborgs FF,60.0,1.0,Right,1.0,2.0,ST,2018,2020-01-01,6.250000,170.0,113.0
18205,246268,D. Walker-Rice,17,England,47,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,RW,2018,2019-01-01,5.833333,154.0,143.0
18206,246269,G. Nugent,16,England,46,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,CM,2018,2019-01-01,5.833333,176.0,165.0

In [65]:
# Elimino los jugadores que ya se les ha acabado el contrato.
contrato_caducado = df[df["Contract Valid Until"] < '2022-01-01'].index
contrato_caducado = df.drop(contrato_caducado)
contrato_caducado

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,5.0,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.000000
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,Right,5.0,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.000000
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,4.0,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.000000
11,182521,T. Kroos,28,Germany,90,90,Real Madrid,76500.0,355.0,Right,4.0,3.0,LCM,2014,2022-01-01,6.000000,168.0,156800.000000
14,215914,N. Kanté,27,France,89,90,Chelsea,63000.0,225.0,Right,3.0,2.0,LDM,2016,2023-01-01,5.500000,159.0,121300.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18141,242849,Chen Yajun,19,China PR,49,67,Guangzhou R&F; FC,60.0,1.0,Right,1.0,2.0,CM,2018,2022-01-01,6.000000,143.0,167.000000
18155,242696,Liu Guobo,18,China PR,48,66,Beijing Sinobo Guoan FC,60.0,1.0,Right,1.0,2.0,CM,2018,2022-01-01,6.166667,165.0,170.000000
18163,242852,Wang Xin,20,China PR,48,58,Guangzhou R&F; FC,40.0,1.0,Right,1.0,2.0,RWB,2018,2022-01-01,6.000000,154.0,94.000000
18167,243112,Wu Lei,21,China PR,48,58,Tianjin Quanjian FC,40.0,2.0,Right,1.0,2.0,LDM,2018,2022-01-01,6.000000,159.0,94.000000
18183,53748,K. Pilkington,44,England,48,48,Cambridge United,NaN,1.0,Right,1.0,1.0,GK,2018,2023-01-01,6.166667,190.0,4585.060806

In [66]:
contrato_caducado.shape

(2851, 18)

In [67]:
contrato_caducado.head()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,5.0,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.0
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,Right,5.0,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.0
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,4.0,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.0
11,182521,T. Kroos,28,Germany,90,90,Real Madrid,76500.0,355.0,Right,4.0,3.0,LCM,2014,2022-01-01,6.000000,168.0,156800.0
14,215914,N. Kanté,27,France,89,90,Chelsea,63000.0,225.0,Right,3.0,2.0,LDM,2016,2023-01-01,5.500000,159.0,121300.0

In [79]:
contrato_vigente=contrato_caducado[contrato_caducado["Contract Valid Until"] >= '2023-01-01']
contrato_vigente

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,4.0,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.000000
14,215914,N. Kanté,27,France,89,90,Chelsea,63000.0,225.0,Right,3.0,2.0,LDM,2016,2023-01-01,5.500000,159.0,121300.000000
16,202126,H. Kane,24,England,89,91,Tottenham Hotspur,83500.0,205.0,Right,3.0,3.0,ST,2010,2024-01-01,6.166667,196.0,160700.000000
17,194765,A. Griezmann,27,France,89,90,Atlético Madrid,78000.0,145.0,Left,4.0,4.0,CAM,2014,2023-01-01,5.750000,161.0,165800.000000
19,192119,T. Courtois,26,Belgium,89,90,Real Madrid,53500.0,240.0,Left,4.0,1.0,GK,2018,2024-01-01,6.500000,212.0,113700.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17657,11430,J. McCombe,35,England,53,53,Lincoln City,10.0,2.0,Right,1.0,2.0,CB,2016,2023-01-01,6.416667,174.0,18.000000
17811,224905,E. Gumbs,20,England,52,65,Tranmere Rovers,90.0,1.0,Right,1.0,2.0,CB,2014,2023-01-01,5.833333,168.0,214.000000
17886,244472,J. Cajuste,18,Sweden,52,70,FC Midtjylland,90.0,1.0,Right,1.0,2.0,CDM,2018,2023-01-01,6.166667,170.0,173.000000
18137,227224,M. Foy,19,England,49,61,Cambridge United,50.0,1.0,Right,1.0,2.0,ST,2018,2023-01-01,6.000000,154.0,98.000000
18183,53748,K. Pilkington,44,England,48,48,Cambridge United,NaN,1.0,Right,1.0,1.0,GK,2018,2023-01-01,6.166667,190.0,4585.060806

In [80]:
contrato_vigente.shape

(1085, 18)